[Unit]
Description=Run PostgreSQL Health Check Every Minute
Requires=postgresql-health-check.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target