[Unit]
Description=Run PostgreSQL Recovery Tests Daily
Requires=postgresql-recovery-tests.service

[Timer]
OnCalendar=daily
OnBootSec=30min
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target