[Unit]
Description=Run PostgreSQL Monitoring Every 5 Minutes
Requires=postgresql-monitor.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1s

[Install]
WantedBy=timers.target